{:name "github-repo-mini-model",
 :description "Aims to model a subset of a github repository.",
 :category "Technology",
 :last-updated "2016-07-26T07:40:50.743Z",
 :_id "579714029f2a2666b614c576",
 :referenceTypes
 {:4
  {:svgStyle "stroke: black;",
   :charLine "?",
   :returnsValue "false",
   :lineEnding "circle",
   :color "black",
   :line "solid",
   :id 4,
   :name ""},
  :2
  {:svgStyle "stroke: red;stroke-dasharray:10,5",
   :charLine "_",
   :returnsValue false,
   :lineEnding "bothFilled",
   :color "red",
   :line "dashed",
   :id 2,
   :name "Implicit"},
  :1
  {:returnsValue true,
   :svgStyle "stroke: black;stroke-dasharray:10,5",
   :charLine "-",
   :lineEnding "both",
   :color "black",
   :line "dashed",
   :id 1,
   :name "has"}},
 :settings {:openModelEditor true},
 :created "2016-07-26T07:40:50.743Z",
 :useAsTemplate true,
 :created-by "56dd3f379f2a260e0d947a53",
 :last-modified-by "56dd3f379f2a260e0d947a53",
 :root
 {:p1469518816773
  {:description "",
   :children
   {:p1469518813907
    {:description "",
     :children
     {:p1469518815647
      {:description "",
       :children {},
       :color "#EB7119",
       :index 1,
       :name "Event",
       :defaults {:description ""},
       :level 3,
       :returnsValue false,
       :id "p1469518815647"}},
     :color "#5610B7",
     :index 2,
     :name "Log",
     :defaults {:description ""},
     :level 2,
     :returnsValue false,
     :id "p1469518813907"},
    :p1469518814780
    {:description "",
     :children
     {:p1469518815985
      {:description "",
       :children
       {:p1469518817212
        {:description "",
         :children {},
         :index 1,
         :name "StateChange",
         :defaults {:description ""},
         :level 4,
         :returnsValue false,
         :id "p1469518817212",
         :shape "state"}},
       :index 1,
       :name "Artifact",
       :defaults {:description ""},
       :level 3,
       :returnsValue false,
       :id "p1469518815985",
       :shape "item"}},
     :index 1,
     :name "Collection",
     :defaults {:description ""},
     :level 2,
     :returnsValue false,
     :id "p1469518814780",
     :shape "preparation"}},
   :color "#1071B7",
   :index 1,
   :name "Origin",
   :icon "anchor",
   :defaults {:description ""},
   :level 1,
   :returnsValue false,
   :id "p1469518816773",
   :shape "terminal"}},
 :_version 1,
 :workspaces {:restricted 0, :used-by []},
 :createdFromTemplate "571f2b9b72fa6d1a2b754d33"}
